.search_title,
.search_result {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin-bottom: 10px;
}
.search_title {
  margin-top: 50px;
}
.search_result {
  margin-top: 40px;
}

.search {
  display: flex;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  max-width: 600px;
  &_icon {
    padding: 15px 20px;
    height: 20px;
    width: 20px;
  }
  &_input {
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
  }
}
