.card {
  max-width: 400px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  &_date {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 150%;
    color: #363636;
    opacity: 0.6;
    &_icon {
      margin-right: 8px;
    }
  }
  &_title {
    display: block;
    height: 60px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    color: #363636;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &_content {
    display: block;
    height: 75px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 150%;
    color: #363636;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &_link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #363636;
    &_arrow {
      margin-left: 6px;
    }
  }
}
