.card {
  max-width: 400px;
  &_date {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 150%;
    color: #363636;
    opacity: 0.6;
    &_icon {
      margin-right: 8px;
    }
  }
  &_title {
    height: 60px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    color: #363636;
  }
  &_content {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 150%;
    color: #363636;
  }
  &_link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #363636;
    &_arrow {
      margin-left: 6px;
    }
  }
}
